{% extends 'base.html' %}
{% load static %}
{% block body_block %}
{% load extras %}

	<h1 class="form-signin-heading">Add a Category</h1>

	<form role="form" id="category_form" method="post" action="/add_category/">
		<h1 class="form-signin-heading">Add a Category</h1>
		
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		
		{% for field in form.visible_fields %}
        <div class="form-group">
				{{ field.errors }}
				{{ field.label }}
				{{ field.help_text }}</br>
				{{ field | addcls 'form-control' }}</br>
		</div>
		{% endfor %}

<button class="btn btn-primary" type="submit" name="submit">Add a Category</button>
	</form>
{% endblock %}