{% extends 'base.html' %}
{% load static %}


{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}

	<h1>{{ catagory_name }}</h1>
	{% if category %}
		{% if pages %}
		<ul>
			{% for page in pages %}
			<li><a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a>
			{% if page.views > 1 %}
				({{ page.views }} views)
			{% elif page.views == 1 %}
				({{ page.views }} view)
			{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% else %}
				<strong>No pages currently in category</strong>
				{% endif %}
		
		{% if user.is_authenticated %}
                <a href='/category/{{category.slug}}/add_page/'>Add a Page</a>
			{% endif %}
		{% else %}
				The specified category {{ category.name }} does not exist!!!
	{% endif %}
{% endblock %}
		


