{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<h1>Tutorials718</h1>
<br />
		
		{% if user.is_authenticated %}
		<h1>Hello {{ user.username}}!</h1>
		{% else %}
		<h1>Hello World!</h1>
		{% endif %}

		{% if categories %}
			<ul>
				{% for category in categories %}
				<li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
				<strong>There are no categories present.</strong>
			{% endif %}

<!--add page display -->
			{% if pages %}
				<h1>Top 5 pages</h1>
				{% for page in pages %}
					<a href="{{ page.url }}">{{ page.title }}</a>
				{% endfor %}
			{% endif %}

			<p>{{visits}}<p/> 
		
		{% endblock %}